# 7. AIRBNB EXPLORATORY DATA ANALYSIS
---

## 1. Getting Familiar with the Dataset

In [2]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 99)
pd.set_option("display.max_rows", 999)
pd.set_option('precision', 3)

chicago = pd.read_csv('data/chicago_airbnb1')
chicago.head()

,host_rt,host_rr,host_ar,superhost,neighborhood,latitude,longitude,property_type,room_type,accommodates,baths,bedrooms,beds,amenities,min_nights,max_nights,n_reviews,rs_rating,rs_accuracy,rs_cleanliness,rs_check_in,rs_communication,rs_location,rs_value,instant_bookable,reviews_per_month,price
0,3H,100.0,100.0,1,Hyde Park,41.788,-87.588,condomium,Private room,1,0.5,1.0,1.0,"[""Hangers"", ""Extra pillows and blankets"", ""Wif...",2,90,178,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0,2.59,66.0
1,1H,100.0,96.0,1,South Lawndale,41.855,-87.697,apartment,Entire place,7,1.0,3.0,5.0,"[""Hangers"", ""Extra pillows and blankets"", ""Wif...",2,60,395,96.0,10.0,9.0,10.0,10.0,10.0,9.0,1,2.82,94.0
2,1H,100.0,98.0,1,West Town,41.903,-87.682,apartment,Entire place,2,1.0,1.0,1.0,"[""Hangers"", ""Bathtub"", ""Wifi"", ""TV"", ""Extra pi...",2,60,384,93.0,10.0,9.0,10.0,10.0,10.0,10.0,0,2.83,61.0
3,1H,92.0,97.0,1,Lincoln Park,41.918,-87.638,apartment,Entire place,4,1.0,1.0,0.0,"[""Hangers"", ""Wifi"", ""TV"", ""Smoke alarm"", ""Carb...",4,180,49,92.0,10.0,9.0,10.0,9.0,10.0,9.0,1,0.63,67.0
4,3H,90.0,95.0,0,Hyde Park,41.796,-87.593,apartment,Private room,2,0.5,1.0,1.0,"[""Hangers"", ""Extra pillows and blankets"", ""Wif...",1,1125,44,82.0,8.0,7.0,9.0,9.0,10.0,9.0,0,0.62,22.0

In [3]:
chicago.shape

(6550, 27)

In [4]:
chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6550 entries, 0 to 6549
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   host_rt            6550 non-null   object
 1   host_rr            5166 non-null   float64
 2   host_ar            5935 non-null   float64
 3   superhost          6550 non-null   int64
 4   neighborhood       6550 non-null   object
 5   latitude           6550 non-null   float64
 6   longitude          6550 non-null   float64
 7   property_type      6550 non-null   object
 8   room_type          6550 non-null   object
 9   accommodates       6550 non-null   int64
 10  baths              6544 non-null   float64
 11  bedrooms           6028 non-null   float64
 12  beds               6513 non-null   float64
 13  amenities          6550 non-null   object
 14  min_nights         6550 non-null   int64
 15  max_nights         6550 non-null   int64
 16  n_reviews          6550 non-null   int64
 17  rs_rating          5350 non-null   float64
 18  rs_accuracy        5338 non-null   float64
 19  rs_cleanliness     5338 non-null   float64
 20  rs_check_in        5337 non-null   float64
 21  rs_communication   5336 non-null   float64
 22  rs_location        5337 non-null   float64
 23  rs_value           5337 non-null   float64
 24  instant_bookable   6550 non-null   int64
 25  reviews_per_month  5401 non-null   float64
 26  price              6550 non-null   float64
dtypes: float64(16), int64(6), object(5)
memory usage: 1.3+ MB

## 2. Separating Categorical from Numerical

In [8]:
num_cols = ['host_rr', 'host_ar', 'latitude', 'longitude', 'accommodates',
            'baths', 'bedrooms', 'beds', 'min_nights', 'max_nights', 'n_reviews', 
            'rs_rating', 'rs_accuracy', 'rs_cleanliness', 'rs_check_in', 
            'rs_communication', 'rs_location', 'rs_value', 'reviews_per_month']
cat_cols = ['host_rt', 'superhost', 'neighborhood', 'property_type', 'room_type', 
            'amenities', 'instant_bookable']
y_col = ['price']
chicago_num = chicago[num_cols].copy()
chicago_cat = chicago[cat_cols].copy()

chicago_num.shape, chicago_cat.shape

((6550, 19), (6550, 7))