# 10. CHICAGO AIRBNB: MODEL TUNING

## 1. Recap

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 99)
pd.set_option("display.max_rows", 999)
pd.set_option('precision', 3)

train = pd.read_csv('data/chicago_airbnb4_train')
X_train = train.drop('price', axis=1)

train.shape, X_train.shape

((5240, 94), (5240, 93))

In [10]:
model_df = pd.read_csv('data/chicago_airbnb4_models')
model_df.columns = ['RMSE', 'OLS_LR_all', 'OLS_LR_36', 'ElasNet_36', 'KNN_all',
       'RandFor_all']
model_df

        RMSE  OLS_LR_all  OLS_LR_36  ElasNet_36  KNN_all  RandFor_all
0     rmse_1     425.931    552.859     552.819  417.219      422.306
1     rmse_2     183.527    210.802     210.359  185.514      184.979
2     rmse_3     134.728    123.628     118.106  123.416      134.961
3     rmse_4     138.456    128.244     123.103  135.151      136.021
4     rmse_5     413.153    590.703     590.501  419.743      421.211
5     rmse_6     447.291    463.421     461.630  450.736      449.103
6     rmse_7     568.169    143.516     138.461  566.424      572.348
7     rmse_8     140.921    123.251     119.284  134.056      150.106
8     rmse_9     444.477    129.995     123.141  442.413      447.136
9    rmse_10     130.011    412.477     412.350  113.691      114.374
10  avg_rmse     302.666    287.890     284.975  298.836      303.255
11  std_rmse     162.559    184.263     186.345  166.061      164.888