# 15. AMES HOUSING: FEATURE ENGINEERING
---

The goal of this chapter is to:
- deal with missing values
- create new features
- scale numerical features
- encode categorical features
- create a preprocessing pipeline ready for model testing

## 1. Introducing the Data

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 99)
pd.set_option("display.max_rows", 999)
pd.set_option('precision', 3)

ames = pd.read_csv('data/Ames_Housing1_train')
print(ames.shape)
ames.head()

(2344, 80)

,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Heating,Heating QC,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,20,RL,80.0,10400.0,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,Norm,Norm,1Fam,1Story,7,5,1976,1976,Gable,CompShg,HdBoard,HdBoard,BrkFace,189.0,TA,TA,CBlock,Gd,TA,No,Unf,0.0,Unf,0.0,1090.0,1090.0,GasA,TA,Y,SBrkr,1370.0,0.0,0.0,1370.0,0.0,0.0,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2.0,479.0,TA,TA,Y,0.0,0.0,0.0,0.0,0.0,0.0,NaN,MnPrv,NaN,0.0,6,2009,WD,Family,152000.0
1,60,RL,NaN,28698.0,Pave,NaN,IR2,Low,AllPub,CulDSac,Sev,ClearCr,Norm,Norm,1Fam,2Story,5,5,1967,1967,Flat,Tar&Grv,Plywood,Plywood,None,0.0,TA,TA,PConc,TA,Gd,Gd,LwQ,249.0,ALQ,764.0,0.0,1013.0,GasA,TA,Y,SBrkr,1160.0,966.0,0.0,2126.0,0.0,1.0,2,1,3,1,TA,7,Min2,0,NaN,Attchd,1967.0,Fin,2.0,538.0,TA,TA,Y,486.0,0.0,0.0,0.0,225.0,0.0,NaN,NaN,NaN,0.0,6,2009,WD,Abnorml,185000.0
2,90,RL,70.0,9842.0,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,NAmes,Norm,Norm,Duplex,1Story,4,5,1962,1962,Gable,CompShg,HdBoard,HdBoard,None,0.0,TA,TA,Slab,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,GasA,TA,Y,SBrkr,1224.0,0.0,0.0,1224.0,0.0,0.0,2,0,2,2,TA,6,Typ,0,NaN,CarPort,1962.0,Unf,2.0,462.0,TA,TA,Y,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,3,2007,WD,Normal,101800.0
3,90,RL,60.0,7200.0,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,Duplex,1Story,4,5,1949,1950,Gable,CompShg,BrkFace,Stone,None,0.0,TA,TA,Slab,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,Wall,Fa,N,FuseF,1040.0,0.0,0.0,1040.0,0.0,0.0,2,0,2,2,TA,6,Typ,0,NaN,Detchd,1956.0,Unf,2.0,420.0,TA,TA,Y,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,6,2009,WD,Normal,90000.0
4,190,RM,63.0,7627.0,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,OldTown,Artery,Norm,2fmCon,2Story,4,6,1920,1950,Gable,CompShg,AsbShng,AsbShng,None,0.0,Fa,TA,BrkTil,Fa,Po,No,Unf,0.0,Unf,0.0,600.0,600.0,GasA,Gd,N,SBrkr,1101.0,600.0,0.0,1701.0,0.0,0.0,2,0,4,2,Fa,8,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,N,0.0,0.0,148.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,10,2009,WD,Normal,94550.0

## 2. Creating a Function Returning Null Columns

In [2]:
def cols_with_nulls(df):
    df = df.copy()
    null_count = df.isnull().sum()
    null = null_count!=0
    null_only = df[null_count[null].index]
    null_only = null_only.isnull().sum().sort_values()
    return null_only

ames_nulls = cols_with_nulls(ames)
ames_nulls

Total Bsmt SF        1
Garage Area          1
Bsmt Half Bath       1
Bsmt Full Bath       1
Bsmt Unf SF          1
BsmtFin SF 2         1
BsmtFin SF 1         1
Garage Cars          1
Mas Vnr Area        19
Mas Vnr Type        19
Bsmt Cond           61
Bsmt Qual           61
BsmtFin Type 1      61
BsmtFin Type 2      62
Bsmt Exposure       63
Garage Type        120
Garage Finish      122
Garage Qual        122
Garage Cond        122
Garage Yr Blt      122
Lot Frontage       393
Fireplace Qu      1144
Fence             1874
Alley             2182
Misc Feature      2250
Pool QC           2332
dtype: int64

## 3. Dealing with Continuous Missing Values

In [3]:
continuous = ['Lot Frontage', 'Lot Area', 'Mas Vnr Area', 'BsmtFin SF 1', 'BsmtFin SF 2',
              'Bsmt Unf SF', 'Total Bsmt SF', '1st Flr SF', '2nd Flr SF', 'Gr Liv Area',
              'Garage Area', 'Wood Deck SF', 'Open Porch SF', 'Low Qual Fin SF', 'Enclosed Porch', 
              '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Misc Val', 'SalePrice']
cont_df = ames[continuous].copy()
cols_with_nulls(cont_df)

BsmtFin SF 1       1
BsmtFin SF 2       1
Bsmt Unf SF        1
Total Bsmt SF      1
Garage Area        1
Mas Vnr Area      19
Lot Frontage     393
dtype: int64

In [4]:
print(ames['Lot Frontage'].mean())
ames.groupby(['MS SubClass'])['Lot Frontage'].mean()

69.2075858534085

MS SubClass
20     77.476
30     60.874
40     53.000
45     57.286
50     63.883
60     78.693
70     64.010
75     75.789
80     78.657
85     72.296
90     71.425
120    44.248
150       NaN
160    27.556
180    27.000
190    68.935
Name: Lot Frontage, dtype: float64

We want to group by `MS SubClass` and then fill in the mean of the group into missing values. If the group mean doesn't exist, we will fill in the mean of the entire column!

In [5]:
cont_miss_cols = ['BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF',
                 'Total Bsmt SF', 'Garage Area', 'Mas Vnr Area']
for col in cont_miss_cols:
    cont_df[col] = cont_df[col].fillna(cont_df[col].mean())
    
cont_df[cont_miss_cols].isnull().sum().sum()

0

In [6]:
cont_df['Lot Frontage'] = ames.groupby(['MS SubClass'])['Lot Frontage'].apply(
lambda x:x.fillna(x.mean()))
cont_df['Lot Frontage'] = cont_df['Lot Frontage'].fillna(
    cont_df['Lot Frontage'].mean())
cont_df['Lot Frontage'].isnull().sum()

0

## 4. Continuous Missing Values Transformers

In [7]:
from sklearn.base import BaseEstimator, TransformerMixin

class ContMissFiller(BaseEstimator, TransformerMixin):    
    def __init__(self):
        self    
        
    def fit(self, df, y = None):               
        return self

    def transform(self, df):        
        df = df.copy()
        miss_cols = ['BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF',
                 'Total Bsmt SF', 'Garage Area', 'Mas Vnr Area']
        for col in miss_cols:
            df[col] = df[col].fillna(df[col].mean())        
        return df
    
class LotFrontFiller(BaseEstimator, TransformerMixin):    
    def __init__(self):
        self    
        
    def fit(self, df, y = None):               
        return self

    def transform(self, df):        
        df = df.copy()
        mean = df['Lot Frontage'].mean()
        df['Lot Frontage'] = df.groupby(['MS SubClass'])['Lot Frontage'].apply(
            lambda x:x.fillna(x.mean()))
        df['Lot Frontage'] = df['Lot Frontage'].fillna(mean)
        return df

In [8]:
# pipeline and testing
from sklearn.pipeline import Pipeline

test_pipe1 = Pipeline(steps = [
    ('filler1', ContMissFiller()),
    ('filler2', LotFrontFiller())
])
test_df1 = ames[continuous + ['MS SubClass']]
test_df1_ = test_pipe1.fit_transform(test_df1)
print(test_df1_.isnull().sum().sum())
cols_with_nulls(test_df1_)

0

Series([], dtype: float64)

## 5. Dealing with Discrete Missing Values

In [9]:
discrete = ['Year Built', 'Year Remod/Add', 'Garage Yr Blt', 'Garage Cars', 'Bsmt Full Bath',
           'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr',
           'TotRms AbvGrd', 'Fireplaces', 'Mo Sold', 'Yr Sold']
disc_df = ames[discrete].copy()
cols_with_nulls(disc_df)

Garage Cars         1
Bsmt Full Bath      1
Bsmt Half Bath      1
Garage Yr Blt     122
dtype: int64

For the 3 columns missing just one value, we can simply fill in the median. But for the `Garage Yr Built`, we can group by house type, `MS SubClass`, and then fill in the median of each class. Let's first see what the data looks like:

In [10]:
df_GYB = pd.DataFrame()
df_GYB['MS_SC_Classes'] = ames.groupby(['MS SubClass'])['Garage Yr Blt'].median().astype(int).index
df_GYB['GYB_median'] = ames.groupby(['MS SubClass'])['Garage Yr Blt'].median().astype(int).values
df_GYB['GYB_Count'] = ames.groupby(['MS SubClass'])['Garage Yr Blt'].count().values
df_GYB['GYB_Null_Count'] = ames['Garage Yr Blt'].isnull().groupby(ames['MS SubClass']).sum().astype(int).values
df_GYB['GYB_%Null'] = df_GYB['GYB_Null_Count'] / df_GYB['GYB_Count']
df_GYB

    MS_SC_Classes  GYB_median  GYB_Count  GYB_Null_Count  GYB_%Null
0              20        1975        849              22      0.026
1              30        1938         92              21      0.228
2              40        1949          5               0      0.000
3              45        1950         11               3      0.273
4              50        1950        210              15      0.071
5              60        1999        445               1      0.002
6              70        1932        104               8      0.077
7              75        1941         19               2      0.105
8              80        1976         94               0      0.000
9              85        1977         39               2      0.051
10             90        1976         60              23      0.383
11            120        2003        151               0      0.000
12            150        1980          1               0      0.000
13            160        1982         96               6      0.062
14            180        1989         12               3      0.250
15            190        1960         34              16      0.471

In [11]:
print(df_GYB['GYB_median'].median())
print(ames['Garage Yr Blt'].median())

1975.5
1978.0

- First of all, it's important to notice that the two medians above aren't the same as expected. This is due to the fact that the presence of null values affect the median. 
- Second, if we were to impute the median of the entire `Garage Yr Blt` column, `1978`, into null values we would be altering the data in a bigger way than if we did by class. For example, look at `MS SubClass=30`. The subclass is missing more than 20% of the values and replacing them with `1978`, the column median, would not be as well as replacing them with `1938`, the subclass median.

In [12]:
df_1 = ames[['MS SubClass', 'Garage Yr Blt']].copy()
df_1a = df_1['Garage Yr Blt'].fillna(df_1['Garage Yr Blt'].median())
print(df_1a.median(), df_1a.mean())

df_2 = ames[ames['MS SubClass']==30]
df_2a = df_2['Garage Yr Blt'].fillna(df_2['Garage Yr Blt'].median())
print(df_2a.median(), df_2a.mean())

1978.0 1977.4296075085324
1938.5 1944.4823008849557

**Fixing missing discrete values**

In [13]:
disc_miss_cols = ['Garage Cars', 'Bsmt Full Bath', 'Bsmt Half Bath']
for col in disc_miss_cols:
    disc_df[col] = disc_df[col].fillna(disc_df[col].median())
    disc_df[col] = disc_df[col].astype(int)
    
disc_df[disc_miss_cols].isnull().sum().sum()

0

In [14]:
disc_df['Garage Yr Blt'] = ames.groupby(['MS SubClass'])['Garage Yr Blt'].apply(
    lambda x:x.fillna(x.median()))
disc_df['Garage Yr Blt'] = disc_df['Garage Yr Blt'].fillna(
    disc_df['Garage Yr Blt'].median())
disc_df['Garage Yr Blt'] = disc_df['Garage Yr Blt'].astype(int)

disc_df.isnull().sum().sum()

0

## 6. Discrete Missing Values Transfromers
Let's now put what we just did into custom transformers so that we can put them in a pipeline

In [15]:
class DiscMissFiller(BaseEstimator, TransformerMixin):    
    def __init__(self):
        self    
        
    def fit(self, df, y = None):               
        return self

    def transform(self, df):        
        df = df.copy()
        miss_cols = ['Garage Cars', 'Bsmt Full Bath', 'Bsmt Half Bath']
        for col in miss_cols:
            df[col] = df[col].fillna(df[col].median()) 
            df[col] = df[col].astype(int)
        return df
    
class GYBFiller(BaseEstimator, TransformerMixin):    
    def __init__(self):
        self    
        
    def fit(self, df, y = None):               
        return self

    def transform(self, df):          
        df = df.copy()
        df['Garage Yr Blt'] = ames.groupby(['MS SubClass'])['Garage Yr Blt'].apply(
            lambda x:x.fillna(x.median()))
        df['Garage Yr Blt'] = df['Garage Yr Blt'].fillna(
            df['Garage Yr Blt'].median())
        df['Garage Yr Blt'] = df['Garage Yr Blt'].astype(int)
        return df

**Let's test our transformers**

In [16]:
test_pipe2 = Pipeline(steps = [
    ('cont_filler1', ContMissFiller()),
    ('cont_filler2', LotFrontFiller()),
    ('disc_filler1', DiscMissFiller()),
    ('disc_filler2', GYBFiller())
])
test_df2 = ames[continuous + ['MS SubClass'] + discrete]
print(test_df2.isnull().sum().sum())
test_df2_ = test_pipe2.fit_transform(test_df2)
test_df2_.isnull().sum().sum()

542

0

## 7. Understanding Ordinal Columns' Missing Data

In [17]:
ordinal = ['Lot Shape', 'Land Slope', 'Overall Qual', 'Overall Cond', 'Exter Qual', 'Exter Cond',
           'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating QC', 
           'Kitchen Qual', 'Functional', 'Fireplace Qu', 'Garage Finish', 'Garage Qual', 'Garage Cond',
           'Pool QC', 'Central Air', 'Paved Drive', 'Fence', 'Sale Condition']
print(len(ordinal))
ord_df = ames[ordinal].copy()
cols_with_nulls(ord_df)

23

Bsmt Qual           61
Bsmt Cond           61
BsmtFin Type 1      61
BsmtFin Type 2      62
Bsmt Exposure       63
Garage Finish      122
Garage Qual        122
Garage Cond        122
Fireplace Qu      1144
Fence             1874
Pool QC           2332
dtype: int64

In [18]:
ames['Bsmt Qual'].value_counts(dropna=False)

TA     1057
Gd      970
Ex      187
Fa       67
NaN      61
Po        2
Name: Bsmt Qual, dtype: int64

It is important to understand what the NaN values represent before we fix them. For example, if we look again at our data description, this is what we find on `Bsmt Qual`:
- Bsmt Qual: Evaluates the height of the basement
    - Ex: Excellent (100+ inches)
    - Gd: Good (90-99 inches)
    - TA: Typical (80-89 inches)
    - Fa: Fair (70-79 inches)
    - Po: Poor (<70 inches
    - NA: No Basement
- This means that we can't do things like replacing missing values here with the most frequent value (`TA`), that would be suggesting that the houses with NA have a typical basement when they actually don't have a basement.
- Before we do anything about the missing data, we need to encode our ordinal data into numbers to make it easier for us to understand the information they are giving us.

## 8. Likert_Scale-Encoding of Some Ordinal Columns

In [19]:
ord_df.head()

,Lot Shape,Land Slope,Overall Qual,Overall Cond,Exter Qual,Exter Cond,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin Type 2,Heating QC,Kitchen Qual,Functional,Fireplace Qu,Garage Finish,Garage Qual,Garage Cond,Pool QC,Central Air,Paved Drive,Fence,Sale Condition
0,Reg,Gtl,7,5,TA,TA,Gd,TA,No,Unf,Unf,TA,TA,Typ,TA,RFn,TA,TA,NaN,Y,Y,MnPrv,Family
1,IR2,Sev,5,5,TA,TA,TA,Gd,Gd,LwQ,ALQ,TA,TA,Min2,NaN,Fin,TA,TA,NaN,Y,Y,NaN,Abnorml
2,Reg,Gtl,4,5,TA,TA,NaN,NaN,NaN,NaN,NaN,TA,TA,Typ,NaN,Unf,TA,TA,NaN,Y,Y,NaN,Normal
3,Reg,Gtl,4,5,TA,TA,NaN,NaN,NaN,NaN,NaN,Fa,TA,Typ,NaN,Unf,TA,TA,NaN,N,Y,NaN,Normal
4,Reg,Gtl,4,6,Fa,TA,Fa,Po,No,Unf,Unf,Gd,Fa,Typ,NaN,NaN,NaN,NaN,NaN,N,N,NaN,Normal

In [20]:
ord_df['Overall Qual'].value_counts()

5     675
6     613
7     465
8     267
4     177
9      81
3      30
10     22
2      10
1       4
Name: Overall Qual, dtype: int64

In [21]:
ord_df['Overall Cond'].value_counts()

5    1305
6     448
7     317
8     112
4      78
3      36
9      35
2       8
1       5
Name: Overall Cond, dtype: int64

In [22]:
print(ord_df['Overall Qual'].isnull().sum())
print(ord_df['Overall Cond'].isnull().sum())

0
0

So `Overall Qual` and `Overall Cond` are already encoded into numbers 1 through 10 where `1=Very Poor` and `10=Very Excellent`:

    - 10  Very Excellent
    - 9	Excellent
    - 8	Very Good
    - 7	Good
    - 6	Above Average
    - 5	Average
    - 4	Below Average
    - 3	Fair
    - 2	Poor
    - 1	Very Poor
We can use this scale for other columns that use `very_poor-to-very_excellent` Likert Scale (or similar)

In [23]:
likert_cols = ['Exter Qual', 'Exter Cond', 'Bsmt Qual', 'Bsmt Cond', 'Heating QC', 
               'Kitchen Qual', 'Fireplace Qu', 'Garage Qual', 'Garage Cond', 'Pool QC']
print(len(likert_cols))
likert_df = ames[likert_cols].copy()
likert_df.head()

10

,Exter Qual,Exter Cond,Bsmt Qual,Bsmt Cond,Heating QC,Kitchen Qual,Fireplace Qu,Garage Qual,Garage Cond,Pool QC
0,TA,TA,Gd,TA,TA,TA,TA,TA,TA,NaN
1,TA,TA,TA,Gd,TA,TA,NaN,TA,TA,NaN
2,TA,TA,NaN,NaN,TA,TA,NaN,TA,TA,NaN
3,TA,TA,NaN,NaN,Fa,TA,NaN,TA,TA,NaN
4,Fa,TA,Fa,Po,Gd,Fa,NaN,NaN,NaN,NaN

In [24]:
likert_cat = []
for col in likert_cols: 
    col_vc = likert_df[col].value_counts(dropna=False).index
    for vc in col_vc:
        if vc not in likert_cat:
            likert_cat.append(vc)
print(likert_cat)

['TA', 'Gd', 'Ex', 'Fa', 'Po', nan]

So we have 6 categories, including `NaN`. We can look up our `very_poor-to-very_excellent` scale to match each category with the corresponding number on the scale:
- Ex = Excellent = 9
- Gd = Good = 7
- TA = Typical/Average = 5
- Fa = Fair = 3
- Po = Poor = 2
- nan = no value = 0

In [25]:
likert_dict = {'Ex': 9, 'Gd': 7, 'TA': 5, 'Fa': 3, 'Po': 2, np.nan: 0}
likert_df_ = likert_df.copy()
for col in likert_cols:
    likert_df_[col] = [likert_dict[item] for item in likert_df_[col]]
print(likert_df_.isnull().sum().sum())    
likert_df_.head()

0

,Exter Qual,Exter Cond,Bsmt Qual,Bsmt Cond,Heating QC,Kitchen Qual,Fireplace Qu,Garage Qual,Garage Cond,Pool QC
0,5,5,7,5,5,5,5,5,5,0
1,5,5,5,7,5,5,0,5,5,0
2,5,5,0,0,5,5,0,5,5,0
3,5,5,0,0,3,5,0,5,5,0
4,3,5,3,2,7,3,0,0,0,0

## 9. Custom Transformer for Likert_Scale Encoding

In [26]:
class NaNExEncoder(BaseEstimator, TransformerMixin):    
    def __init__(self):
        self    
        
    def fit(self, df, y = None):               
        return self

    def transform(self, df):        
        df = df.copy()
        likert_cols = ['Exter Qual', 'Exter Cond', 'Bsmt Qual', 'Bsmt Cond', 
                       'Heating QC', 'Kitchen Qual', 'Fireplace Qu', 'Garage Qual', 
                       'Garage Cond', 'Pool QC']
        likert_dict = {'Ex': 9, 'Gd': 7, 'TA': 5, 'Fa': 3, 'Po': 2, np.nan: 0}
        for col in likert_cols:
            df[col] = [likert_dict[item] for item in df[col]]
            df[col] = df[col].astype(int)
        return df

In [27]:
# testing our NaNExEncoder
test_pipe3 = Pipeline(steps = [
    ('cont_filler1', ContMissFiller()),
    ('cont_filler2', LotFrontFiller()),
    ('disc_filler1', DiscMissFiller()),
    ('disc_filler2', GYBFiller()),
    ('likert_encoder', NaNExEncoder())
])
test_df3 = ames[continuous + ['MS SubClass'] + discrete + ordinal]
print(test_df3.isnull().sum().sum())
test_df3_ = test_pipe3.fit_transform(test_df3)
print(test_df3_.isnull().sum().sum())
cols_with_nulls(test_df3_)

6566
2182

BsmtFin Type 1      61
BsmtFin Type 2      62
Bsmt Exposure       63
Garage Finish      122
Fence             1874
dtype: int64

## 10. Encoding the Rest of Ordinal Columns

In [28]:
other_ord_cols = []
for col in ord_df.columns:
    if col not in likert_cols:
        other_ord_cols.append(col)
print(len(other_ord_cols))
other_ord = ames[other_ord_cols].copy()
other_ord = other_ord.drop(['Overall Qual', 'Overall Cond'], axis=1)
print(other_ord.shape)
other_ord.head()

13
(2344, 11)

,Lot Shape,Land Slope,Bsmt Exposure,BsmtFin Type 1,BsmtFin Type 2,Functional,Garage Finish,Central Air,Paved Drive,Fence,Sale Condition
0,Reg,Gtl,No,Unf,Unf,Typ,RFn,Y,Y,MnPrv,Family
1,IR2,Sev,Gd,LwQ,ALQ,Min2,Fin,Y,Y,NaN,Abnorml
2,Reg,Gtl,NaN,NaN,NaN,Typ,Unf,Y,Y,NaN,Normal
3,Reg,Gtl,NaN,NaN,NaN,Typ,Unf,N,Y,NaN,Normal
4,Reg,Gtl,No,Unf,Unf,Typ,NaN,N,N,NaN,Normal

In [29]:
other_ord_cats = []
for col in other_ord.columns:
    col_unique = other_ord[col].unique()
    for i in col_unique: 
        if i not in other_ord_cats:
            other_ord_cats.append(i)
            
print(other_ord_cats)

['Reg', 'IR2', 'IR1', 'IR3', 'Gtl', 'Sev', 'Mod', 'No', 'Gd', nan, 'Av', 'Mn', 'Unf', 'LwQ', 'GLQ', 'BLQ', 'ALQ', 'Rec', 'Typ', 'Min2', 'Min1', 'Maj2', 'Maj1', 'Sal', 'RFn', 'Fin', 'Y', 'N', 'P', 'MnPrv', 'GdWo', 'GdPrv', 'MnWw', 'Family', 'Abnorml', 'Normal', 'Partial', 'AdjLand', 'Alloca']

In [30]:
other_ord.nunique(dropna=False).index

Index(['Lot Shape', 'Land Slope', 'Bsmt Exposure', 'BsmtFin Type 1',
       'BsmtFin Type 2', 'Functional', 'Garage Finish', 'Central Air',
       'Paved Drive', 'Fence', 'Sale Condition'],
      dtype='object')

Since we won't scale the integers that represent the categories of ordinal columns, we are going to try to keep them on a similar scale as those we did above, that were on a Likert scale. This will be done manually like this:
- the distance between neighboring values is 10 divided by the number of unique categories in each column (including NaN), rounded down. Example: Lot Shape: 4 unique categories, delta = 10/4 rounded down to 2
- the max value is the distance times n unique values; the next value is at times n-1, and so on
- the min value is at times n-(n-1) or, if it is NaN it is 0

The problem: some columns have the same category that needs to have different values depending on the column it's in, we will split the columns into two list to avoid this problem. That way, one category or key can be present in both lists and have different values

In [31]:
ord2_cols = ['Lot Shape', 'Land Slope', 'Bsmt Exposure', 'BsmtFin Type 1',             
             'BsmtFin Type 2', 'Central Air', 'Fence', 'Sale Condition']

ord2_dict = {'Reg':8, 'IR1':6, 'IR2':4, 'IR3':2,  # Lot Shape
             'Gtl':9, 'Mod':6, 'Sev':3,           # Land Slope
             'Gd':8, 'Av':6, 'Mn':4, 'No':2,     # Bsmt Exposure
             'GLQ':7, 'ALQ':6, 'BLQ':5, 'Rec':4, 'LwQ':3, 'Unf':2, # BsmtFin Type 1 & 2
             'Y':10, 'N':5, # Central Air
             'GdPrv':8, 'MnPrv':6, 'GdWo':4, 'MnWw':2,   # Fence
             'Normal':8, 'Abnorml':6, 'AdjLand':5, 'Alloca':4, 'Family':3, 'Partial':2, # Sale Condition
             np.nan:0
            }
ord2_df = ames[ord2_cols].copy()
for col2 in ord2_cols:
    ord2_df[col2] = [ord2_dict[item] for item in ord2_df[col2]]
    
ord2_df.isnull().sum().sum()

0

In [32]:
ord3_cols = ['Functional', 'Garage Finish', 'Paved Drive']

ord3_dict = {'Typ':8, 'Min1':7, 'Min2':6, 'Mod':5, 'Maj1':4, 'Maj2':3, 'Sev':2, 'Sal':1, # Functional
             'Fin':9, 'RFn':6, 'Unf':3,  # Garage Finish
             'Y':9, 'P':6, 'N':3,    # Paved Drive
             np.nan:0
            }
ord3_df = ames[ord3_cols].copy()
for col3 in ord3_cols:
    ord3_df[col3] = [ord3_dict[item] for item in ord3_df[col3]]
    
ord3_df.isnull().sum().sum()

0

## 11. Custom Transformers for Rest of Ordinal Columns

In [33]:
class Ord2Encoder(BaseEstimator, TransformerMixin):    
    def __init__(self):
        self    
        
    def fit(self, df, y = None):               
        return self

    def transform(self, df):        
        df = df.copy()
        ord2_cols = ['Lot Shape', 'Land Slope', 'Bsmt Exposure', 'BsmtFin Type 1',             
             'BsmtFin Type 2', 'Central Air', 'Fence', 'Sale Condition']

        ord2_dict = {'Reg':8, 'IR1':6, 'IR2':4, 'IR3':2, 'Gtl':9, 'Mod':6, 'Sev':3,
                     'Gd':8, 'Av':6, 'Mn':4, 'No':2, 'GLQ':7, 'ALQ':6, 'BLQ':5, 
                     'Rec':4, 'LwQ':3, 'Unf':2, 'Y':10, 'N':5, 'GdPrv':8, 'MnPrv':6, 
                     'GdWo':4, 'MnWw':2, 'Normal':8, 'Abnorml':6, 'AdjLand':5, 'Alloca':4, 
                     'Family':3, 'Partial':2, np.nan:0
                    }
        for col2 in ord2_cols:
            df[col2] = [ord2_dict[item] for item in df[col2]]
        return df

class Ord3Encoder(BaseEstimator, TransformerMixin):    
    def __init__(self):
        self    
        
    def fit(self, df, y = None):               
        return self

    def transform(self, df):        
        df = df.copy()
        ord3_cols = ['Functional', 'Garage Finish', 'Paved Drive']

        ord3_dict = {'Typ':8, 'Min1':7, 'Min2':6, 'Mod':5, 'Maj1':4, 'Maj2':3, 'Sev':2, 
                     'Sal':1, 'Fin':9, 'RFn':6, 'Unf':3, 'Y':9, 'P':6, 'N':3, np.nan:0
                    }        
        for col3 in ord3_cols:
            df[col3] = [ord3_dict[item] for item in df[col3]]
        return df

In [34]:
# pipeline testing
test_pipe4 = Pipeline(steps = [
    ('cont_filler1', ContMissFiller()),
    ('cont_filler2', LotFrontFiller()),
    ('disc_filler1', DiscMissFiller()),
    ('disc_filler2', GYBFiller()),
    ('likert_encoder', NaNExEncoder()),
    ('ord2_encoder', Ord2Encoder()),
    ('ord3_encoder', Ord3Encoder())
])
test_df4 = ames[continuous + ['MS SubClass'] + discrete + ordinal]
print(test_df4.isnull().sum().sum())
test_df4_ = test_pipe4.fit_transform(test_df4)
print(test_df4_.isnull().sum().sum())
cols_with_nulls(test_df4_)

6566
0

Series([], dtype: float64)

## 12. Fixing Missing Data in Nominal Columns

In [35]:
nominal = ['MS SubClass', 'MS Zoning', 'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
          'Lot Config', 'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type', 'House Style',
          'Roof Style', 'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Foundation',
          'Electrical', 'Garage Type', 'Misc Feature', 'Sale Type']
cols_with_nulls(ames[nominal])

Mas Vnr Type      19
Garage Type      120
Alley           2182
Misc Feature    2250
dtype: int64

In [36]:
nom_cols = cols_with_nulls(ames[nominal]).index
for col in nom_cols:
    nom_df = ames[nom_cols].copy()
    col_vc = nom_df[col].value_counts(dropna=False)
    print(col_vc)

None       1407
BrkFace     714
Stone       182
BrkCmn       21
NaN          19
CBlock        1
Name: Mas Vnr Type, dtype: int64
Attchd     1397
Detchd      631
BuiltIn     138
NaN         120
Basment      30
2Types       18
CarPort      10
Name: Garage Type, dtype: int64
NaN     2182
Grvl     100
Pave      62
Name: Alley, dtype: int64
NaN     2250
Shed      84
Gar2       5
Othr       4
Elev       1
Name: Misc Feature, dtype: int64

Except for `Mas Vnr Type`, we can create a `Missing` category, which should take care of all NaN values. However, insted of doing that, we can set all the missing values to `None` which would take care of all the 4 columns. The 19 missing values in `Mas Vnr Type` would be added to the `None` category, which is already there and is the most frequent.

In [37]:
nom_df = nom_df.fillna('None')
nom_df.isnull().sum()

Mas Vnr Type    0
Garage Type     0
Alley           0
Misc Feature    0
dtype: int64

In [38]:
for col in nom_cols:    
    col_vc = nom_df[col].value_counts(dropna=False)
    print(col_vc)

None       1426
BrkFace     714
Stone       182
BrkCmn       21
CBlock        1
Name: Mas Vnr Type, dtype: int64
Attchd     1397
Detchd      631
BuiltIn     138
None        120
Basment      30
2Types       18
CarPort      10
Name: Garage Type, dtype: int64
None    2182
Grvl     100
Pave      62
Name: Alley, dtype: int64
None    2250
Shed      84
Gar2       5
Othr       4
Elev       1
Name: Misc Feature, dtype: int64

## 13. Custom Transformer for Nominal Missing Values

In [39]:
nom_cols

Index(['Mas Vnr Type', 'Garage Type', 'Alley', 'Misc Feature'], dtype='object')

In [40]:
class NominalFiller(BaseEstimator, TransformerMixin):    
    def __init__(self):
        self    
        
    def fit(self, df, y = None):               
        return self

    def transform(self, df):        
        df = df.copy()
        nom_cols = ['Mas Vnr Type', 'Garage Type', 'Alley', 'Misc Feature']              
        for col in nom_cols:
            df[col] = df[col].fillna('None')
        return df

In [41]:
# pipeline testing
test_pipe5 = Pipeline(steps = [
    ('cont_filler1', ContMissFiller()),
    ('cont_filler2', LotFrontFiller()),
    ('disc_filler1', DiscMissFiller()),
    ('disc_filler2', GYBFiller()),
    ('likert_encoder', NaNExEncoder()),
    ('ord2_encoder', Ord2Encoder()),
    ('ord3_encoder', Ord3Encoder()),
    ('nom_filler', NominalFiller())
])
test_df5 = ames.copy()
print('Missing Values Before:', test_df5.isnull().sum().sum())
test_df5_ = test_pipe5.fit_transform(test_df5)
print('Missing Values After:', test_df5_.isnull().sum().sum())
test_df5_.shape

Missing Values Before: 11137
Missing Values After: 0

(2344, 80)