# 24. GRADUATE ADMISSION: CLASSIFICATION MODELS
---

## 1. Introducing the Data
To turn the dataset into classification, we want to convert the target column into classes:
- `1=admit` (chance of admit is above 0.85)
- `2=put on waitlist` (chance of admit is above 0.70 but below 0.85)
- `3=do not admit` (chance of admit is below 0.70)

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 99)
pd.set_option("display.max_rows", 999)
pd.set_option('precision', 3)

admission = pd.read_csv('data/Admission_1.1.csv')
admission['LOR'] = admission['LOR ']
admission['Chance of Admit'] = admission['Chance of Admit ']
admission_1 = admission.drop(['Serial No.', 'LOR ', 'Chance of Admit '], axis=1)
print(admission_1.shape)
print(admission_1.columns)
admission_1.head()

(500, 8)
Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'CGPA',
       'Research', 'LOR', 'Chance of Admit'],
      dtype='object')

,GRE Score,TOEFL Score,University Rating,SOP,CGPA,Research,LOR,Chance of Admit
0,337,118,4,4.5,9.65,1,4.5,0.92
1,324,107,4,4.0,8.87,1,4.5,0.76
2,316,104,3,3.0,8.00,1,3.5,0.72
3,322,110,3,3.5,8.67,1,2.5,0.80
4,314,103,2,2.0,8.21,0,3.0,0.65

## 2. Modifying the Target for Classification

In [16]:
admission_2 = admission_1.copy()
y = admission_2['Chance of Admit']
for i in y:
    if i>=0.85:
        y = y.replace(i,1)
    elif i<=0.70:
        y = y.replace(i,3)
    else: y = y.replace(i,2)

y = y.astype('int')
y.value_counts()

3    213
2    178
1    109
Name: Chance of Admit, dtype: int64