# 25. GRADUATE ADMISSIONS: MULTICLASS CLASSIFICATION
---

## 1. Introducing the Data

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 99)
pd.set_option("display.max_rows", 999)
pd.set_option('precision', 3)

admission = pd.read_csv('data/Admission2_train')
X_train = admission.drop('Chance of Admit', axis=1)
y_train = admission['Chance of Admit']

print(X_train.shape, y_train.shape)
X_train.head()

(400, 7) (400,)

   GRE Score  TOEFL Score  University Rating  SOP  CGPA  Research  LOR
0        321          111                  3  3.5  8.83         1  4.0
1        316          111                  4  4.0  8.54         0  5.0
2        303          102                  3  3.5  8.50         0  3.0
3        314          107                  2  2.5  8.27         0  4.0
4        308          106                  3  3.5  8.21         1  2.5

In [3]:
y_train.value_counts()

0.71    19
0.79    14
0.64    14
0.73    14
0.78    13
0.76    13
0.80    12
0.72    11
0.62    11
0.65    10
0.74    10
0.70     9
0.91     9
0.93     9
0.84     9
0.94     9
0.81     9
0.66     8
0.61     8
0.86     8
0.57     8
0.69     8
0.75     8
0.67     8
0.90     7
0.92     7
0.82     7
0.77     7
0.52     7
0.68     7
0.87     7
0.89     6
0.85     6
0.58     6
0.63     6
0.96     6
0.56     6
0.95     5
0.59     5
0.47     4
0.53     4
0.88     4
0.49     4
0.46     4
0.97     4
0.54     3
0.83     3
0.42     3
0.45     2
0.38     2
0.55     2
0.51     2
0.36     2
0.48     2
0.34     2
0.50     2
0.60     2
0.43     1
0.44     1
0.37     1
Name: Chance of Admit, dtype: int64

In [2]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_train[:5]

array([[0.62      , 0.67857143, 0.5       , 0.625     , 0.65064103,
        1.        , 0.71428571],
       [0.52      , 0.67857143, 0.75      , 0.75      , 0.55769231,
        0.        , 1.        ],
       [0.26      , 0.35714286, 0.5       , 0.625     , 0.54487179,
        0.        , 0.42857143],
       [0.48      , 0.53571429, 0.25      , 0.375     , 0.47115385,
        0.        , 0.71428571],
       [0.36      , 0.5       , 0.5       , 0.625     , 0.45192308,
        1.        , 0.28571429]])