# 25. GRADUATE ADMISSIONS: MULTICLASS CLASSIFICATION
---

## 1. Introducing the Data

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 99)
pd.set_option("display.max_rows", 999)
pd.set_option('precision', 3)

admission = pd.read_csv('data/Admission2_train')
X_train = admission.drop('Chance of Admit', axis=1)
y_train = admission['Chance of Admit']

print(X_train.shape, y_train.shape)
X_train.head()

(400, 7) (400,)

   GRE Score  TOEFL Score  University Rating  SOP  CGPA  Research  LOR
0        321          111                  3  3.5  8.83         1  4.0
1        316          111                  4  4.0  8.54         0  5.0
2        303          102                  3  3.5  8.50         0  3.0
3        314          107                  2  2.5  8.27         0  4.0
4        308          106                  3  3.5  8.21         1  2.5

In [2]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_train[:5]

array([[0.62      , 0.67857143, 0.5       , 0.625     , 0.65064103,
        1.        , 0.71428571],
       [0.52      , 0.67857143, 0.75      , 0.75      , 0.55769231,
        0.        , 1.        ],
       [0.26      , 0.35714286, 0.5       , 0.625     , 0.54487179,
        0.        , 0.42857143],
       [0.48      , 0.53571429, 0.25      , 0.375     , 0.47115385,
        0.        , 0.71428571],
       [0.36      , 0.5       , 0.5       , 0.625     , 0.45192308,
        1.        , 0.28571429]])