# 31. TETRA: CLUSTER MODEL TRAINING
---

## 1. Introducing the Data

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 99)
pd.set_option("display.max_rows", 999)
pd.set_option('precision', 3)

tetra = pd.read_csv('data/tetra_df')
print(tetra.shape)
tetra.head()

(400, 4)

    col1   col2   col3  labels
0  1.295  0.051 -0.385       1
1  1.409 -0.035 -0.252       1
2  1.097  0.246 -0.415       1
3  1.463  0.265 -0.513       1
4  1.603  0.081 -0.470       1

In [2]:
tetra['labels'].value_counts()

4    100
3    100
2    100
1    100
Name: labels, dtype: int64

In [3]:
X = tetra.drop('labels', axis=1)
X.shape

(400, 3)

## 2. The Elbow Method for Finding Optimal N-Clusters