# 33. FUZZYX CLUSTERING
---

## 1. Introducing the Data

Source: Daniel Graves, Witold Pedrycz, Kernel-based fuzzy clustering
and fuzzy clustering: A comparative experimental study,
Fuzzy Sets and Systems 161(4), 2010, 522-543

One of the "synthetic data sets" from the above-mentioned paper.

Labels generated by A. Cena and M. Gagolewski.
`0` denotes the noise class (if present).

In [14]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 99)
pd.set_option("display.max_rows", 999)
pd.set_option('precision', 3)

cols = ['col1', 'col2']
fuzzyx = pd.read_csv('data/fuzzyx.data.gz', delimiter=" ",  header=None)
labels = pd.read_csv('data/fuzzyx.labels5.gz', header=None)
fuzzyx.columns = cols
fuzzyx['labels'] = labels
print(fuzzyx.shape)
fuzzyx.head()

(1000, 3)

    col1   col2  labels
0 -0.002 -0.035       4
1 -0.064  0.056       4
2 -0.060  0.003       4
3  0.093  0.009       4
4  0.080 -0.097       4

In [15]:
labels.value_counts()

1    314
2    245
3    226
4    215
dtype: int64

In [13]:
fuzzyx[:1]

       0      1
0 -0.002 -0.035

In [10]:
fuzzy_labels

     0
0    4
1    4
2    4
3    4
4    4
..  ..
995  1
996  1
997  1
998  1
999  1

[1000 rows x 1 columns]