# 27. HEPTA CLUSTER: DATASET EXPLORATION
---

## 1. Introducing the Data
- **Source**: Ultsch, A.: Clustering with SOM: U*C,
    - In Proc. Workshop on Self-Organizing Maps, Paris, France, 2005, 75-82.

    - Web: https://www.uni-marburg.de/fb12/arbeitsgruppen/datenbionik/data

    - One of the datasets in the Fundamental Clustering Problems Suite (FCPS).

    - `labels0` come from the Author. `0` denotes the noise class (if present).
- **Downloaded from:** https://github.com/gagolews/clustering_benchmarks_v1/tree/master/fcps

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 99)
pd.set_option("display.max_rows", 999)
pd.set_option('precision', 3)

hepta_cols = ['col1', 'col2', 'col3']
hepta = pd.read_csv('data/hepta.data.gz', 
                    delimiter="\t", header=None)
noise = pd.read_csv('data/hepta.labels0.gz', 
                    delimiter="\t", header=None)
hepta.columns = hepta_cols
hepta['labels'] = noise
print(hepta.shape)
hepta.head()

(212, 4)

        col1   col2   col3  labels
0 -6.327e-02  0.028  0.023       1
1 -7.310e-04  0.048  0.069       1
2 -6.077e-02 -0.009  0.053       1
3  1.325e-02 -0.012  0.055       1
4 -5.451e-02 -0.004  0.002       1

In [2]:
hepta.tail()

      col1   col2   col3  labels
207  0.176 -0.053 -2.734       7
208  0.396 -0.858 -3.127       7
209 -0.406 -0.335 -2.886       7
210 -0.299  0.071 -3.643       7
211 -0.506  0.434 -2.609       7