# 28. HEPTA: CLUSTER MODEL TRAINING
---

## 1. Introducing the Data

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 99)
pd.set_option("display.max_rows", 999)
pd.set_option('precision', 3)

hepta = pd.read_csv('data/hepta_df')
print(hepta.shape)
hepta.head()

(212, 4)

        col1   col2   col3  labels
0 -6.327e-02  0.028  0.023       1
1 -7.310e-04  0.048  0.069       1
2 -6.077e-02 -0.009  0.053       1
3  1.325e-02 -0.012  0.055       1
4 -5.451e-02 -0.004  0.002       1